.recipient-details-card {
    padding: 16px 24px 24px 24px;
    border-radius: 16px;
    border: none;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.title-recipient-details {
    font-weight: 700;
    font-size: 24px;
}

.recipient-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.line-styles {
    display: inline-flex;
    margin-bottom: 20px;
    align-items: flex-start;
    width: 90%;
}

.div-input-styles {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.input-styles {
    margin: 20px 15px 0 0;
    border: none;
    font-size: 16px;
    border-bottom: 1px solid #00000033;
    outline: none;
    padding: 3px 0;
}

.input-styles::placeholder {
    color: transparent;
}

.input-styles:placeholder-shown ~ .label-for-input {
    cursor: text;
    top: 20px;
}

.input-styles:focus ~ .label-for-input {
    position: absolute;
    top: 0;
    display: block;
    font-size: 1rem;
    color: #00000033;
}

.input-styles:invalid {
    border-color: red;
    color: red;
    box-shadow: none;
}

.error-label {
    color: red;
}

.label-for-input {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #00000033;
}

.div-style {
    display: flex;
    flex-direction: column;
}

.label-inn-style {
    font-size: 12px;
    margin-top: 7px;
}
