.change-method-popup {
    padding: 16px 24px 24px 24px;
    border-radius: 16px;
    box-shadow: 0 0 0 100vh #05000A4D;
    border: none;
}

.change-method-header {
    font-size: 20px;
    font-weight: 700;
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.change-method-header img {
    cursor: pointer;
}

.payment-method-popup {
    width: 400px;

}

.payment-cards-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-bottom: 140px;
}

.payment-card {
    display: inline-flex;
    font-size: 16px;
    margin-bottom: 10px;
}

.payment-card input {
    margin-right: 8px;
}

.payment-card img {
    margin-right: 5px;
}



.delivery-method-buttons-div {
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.delivery-method-buttons-styles {
    border-radius: 24px;
    border: 2px solid #CB11AB26;
    background-color: #ffffff;
    font-weight: 700;
    font-size: 13px;
    align-items: center;
    cursor: pointer;
    width: 49%;
    height: 36px;
}

.active {
    border: 2px solid #CB11AB;
}

.saved-addresses {
    padding: 0 0 33px 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.saved-addresses-title {
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: 700;
    text-align: start;
}

.saved-addresses-styles {
    display: inline-flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: start;
}

.saved-addresses-styles span {
    width: 90%;
}

.popup-button {
    width: 20%;
}

body {
    font-family: Segoe UI, sans-serif;
    background-color: #F4F4F8FF;
}
.main-container {
    min-height: 96vh;
}

footer {
    background-color: #6725A8;
    color: #FFFFFFB2;
    font-size: 13px;
    padding: 20px 0;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 64px;
}

.cart-main-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-container {
    display: flex;
    justify-content: space-between;
    width: 1400px;
}


.cart {
    width: 65%;
    margin: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1224px) {
    .cart {
        width: 65%;
        margin: 20px 0 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


.title-cart-part {
    font-weight: 700;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;
}

.edit-button {
    color: #CB11AB;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.like-icon-style {
    margin-right: 15px;
}

.cart-subtitle {
    display: inline-flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 20px;
    border-bottom: 1px solid #0000001A;
}


.hide-icon {
    cursor: pointer;
}

.products-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#cart-styles {
    font-size: 28px;
    font-weight: 700;
}

.choice-checkbox {
    margin: 40px 10px 0 3px;
}


.products-price {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 120px;
}

.current-price {
    display: inline-flex;
    justify-content: flex-end;
    align-items: end;
    font-weight: 700;
    font-size: 16px;
}

.price-style {
    font-size: 20px;
}

.old-price {
    font-size: 13px;
    color: #9797AF;
    border-bottom: 1px dashed #00000033;
    text-decoration: line-through #00000033;
}

.price-section {
    display: inline-flex;
    justify-content: space-between;
}

.product-operations {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100px;
}

.counter {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    width: 100px;
    height: 44px;
    font-size: 16px;

}

.counter-button-styles {
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    width: 24px;
    font-size: 20px;
}

.products-left-style {
    font-size: 13px;
    color: #FF3B30;
    margin-top: 5px;
    align-items: start;
    width: 100px;
}

.company-data {
    font-size: 13px;
    color: #9797AF;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.company {
    display: inline-flex;
    padding-top: 2px;
}

.company img {
    margin-left: 5px;
}