body {
    font-family: Segoe UI, sans-serif;
    background-color: #F4F4F8FF;
}

.basket-main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket-container {
    display: flex;
    justify-content: space-between;
    width: 1400px;
}

.basket {
    width: 70%;
    margin: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-button {
    color: #CB11AB;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.recipient-details-card {
    padding: 16px 24px 24px 24px;
    border-radius: 16px;
    border: none;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title-recipient-details {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
}

.recipient-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.line-styles {
    display: inline-flex;
    margin-bottom: 20px;
}

.input-styles {
    border: none;
    border-bottom: 1px solid #00000033;
    width: 330px;
    margin: 0 15px 0 0;
}

.contacts {
    width: 215px;
}

.label-inn-style {
    font-size: 12px;

}